<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/pages/agenda.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/print-agenda.css">
    <title>Corveerooster</title>
  </head>

  <body>

    <!-- NAVIGATION PARTIAL -->
    <%- include ('../partials/navbar.ejs'); %>
    
    <!-- HEADER -->
    <header class="page-content">
      <!-- Container in which the name of the month is displayed -->
      <div class="page-header">
        <p class="page-label">Corvee dienst</p>
      </div>
      <h1 class="page-title"><%- currentMonthName %></h1>
    </header>
    
    <!-- MAIN -->
    <main class="weeks-grid">
      <!-- Container in which the time tables are displayed -->
      <% schedules.forEach( schedule => { %>
      <div class="week-block">
        <h2 class="week-title"><%= helper.getWeekNumber(schedule.date) %></h2>
        <div class="table-wrapper">
          <table class="table-agenda">
            <colgroup>
              <col class="col-datum">
              <col class="col-dagdeel">
              <col class="col-naam">
            </colgroup>
            <thead>
              <tr><th>Datum</th><th>Dagdeel</th><th>Naam</th></tr>
            </thead>
            <tbody>
              <tr>
                <td class="td-dag" rowspan="2"><%= helper.getNameOfDay(schedule.date) %><span class="datum"><%= schedule.date %></span></td>
                <td><span class="badge badge-ochtend">Ochtend</span><span class="dagdeel-print">Ochtend</span></td>
                <td class="td-naam"><%= schedule.morning.name %></td>
              </tr>
              <tr>
                <td><span class="badge badge-middag">Middag</span><span class="dagdeel-print">Middag</span></td>
                <td class="td-naam td-naam-middag"><%= schedule.afternoon.name %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <% }) %>
    </main>

    <!-- Print button -->
    <button class="btn-print" onclick="window.print()">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M640-640v-160H320v160h-66.67v-226.67h453.34V-640H640Zm-493.33 80h666.66H146.67Zm536.66 96.67q14 0 23.67-9.67 9.67-9.67 9.67-23.67 0-14-9.67-23.66-9.67-9.67-23.67-9.67-14 0-23.66 9.67-9.67 9.66-9.67 23.66 0 14 9.67 23.67 9.66 9.67 23.66 9.67ZM640-160v-160H320v160h320Zm66.67 66.67H253.33v-160H120v-246.64q0-43.7 30.17-73.87 30.17-30.16 73.83-30.16h512q43.67 0 73.83 30.16Q840-543.67 840-500v246.67H706.67v160Z"/></svg>
      Print
    </button>

  </body>
</html>
