<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/variables.css">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/pages/agendas.css">
    <link rel="stylesheet" href="../css/pages/dashboard.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/print-agenda.css">
    <link rel="stylesheet" href="../css/toolbar.css">
    <title>Corveerooster</title>
    
    <script src="../js/datepicker.js" defer></script>
  </head>

  <body>

    <!-- A div specially for background color -->
    <div class="bg-effects" aria-hidden="true"></div>
    
    <!-- NAVIGATION PARTIAL -->
    <%- include ('../partials/navbar.ejs'); %>

    <!-- Error message after adding/editting a volunteer failed -->
    <% if (alerts.error) { %>
      <div class="flash-message alert-error" id="flash">Toevoegen mislukt! Geef een geldige naam op (2 - 20 karakters).</div>
    <% } %>

    <!-- Confirm messages after succesfully add, edit, remove a volunteer or changing the agenda -->
    <% if (alerts.success) { %>
      <div class="flash-message alert" id="flash">Vrijwilliger succesvol toegevoegd!</div>
    <% } %>

    <% if (alerts.removed) { %>
      <div class="flash-message alert" id="flash">Vrijwilliger succesvol verwijderd!</div>
    <% } %>

    <% if (alerts.edited) { %>
      <div class="flash-message alert" id="flash">Agenda succesvol opgeslagen!</div>
    <% } %>
    
    <!-- Confirm message disapears after cetrain amount of time
         and empty url params to prevent repeating messages -->
    <script>
      setTimeout(() => {
        document.getElementById('flash')?.remove();
      }, 5000);
      history.replaceState(null, '', window.location.pathname);
    </script>

    <!-- HEADER -->
    <header class="page-content">
      <div class="page-header">
        <p class="page-label">Corvee dienst</p>
      </div>
      <h1 class="page-title"><%- data.currentMonthName %></h1>
    </header>

    <!-- Toolbar with volunteer options -->
    <fieldset class="toolbar-group-volunteers">
      <legend>Vrijwilligersbeheer</legend>
      <%- include ('../partials/toolbarVolunteers.ejs'); %>
    </fieldset>

    <!-- Toolbar with agenda options and an editable agenda -->
    <fieldset class="toolbar-group-agenda">
      <legend>Agendabeheer</legend>
      <%- include ('../partials/toolbarAgenda.ejs'); %>

      <!-- Send selected names to the database after submit -->
      <%- include ('../partials/dashboardAgenda.ejs'); %>

    </fieldset>
  </body>
</html>
