<!DOCTYPE html>
<html lang="nl">
    
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/variables.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/pages/index.css">

    <link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon">
    
    <title>Login</title>
  </head>

  <body class="body-centered">

    <!-- A div specially for the background gradient -->
    <div class="bg-effects" aria-hidden="true"></div>

    <main>
      <div class="form-container">

        <div class="login-header">
          <!-- Aletho logo -->
          <div class="login-logo">
            <img src="/assets/logo_aletho.jpeg" alt="" srcset="">
          </div>

          <p class="login-label"><%= t.loginPage.subTitle %></p>
          <h1 class="login-title"><%= t.loginPage.title %></h1>

          <!-- Error message: Incorrect password -->
          <% if (loginError) { %><h3><%= t.loginPage.incorrectPassword %></h3><% } %>
        </div>

        <form class="login-form" action="/login" method="POST">
          <div class="field">
            <label for="password"><%= t.loginPage.password %></label>
            <input type="password" id="password" name="password" value="654" autocomplete="current-password" autofocus>
          </div>
          <button type="submit" class="btn-login"><%= t.loginPage.loginButtonLabel %></button>
        </form>

      </div>
    </main>

  </body>
</html>
